:root {
    --cor-primaria: rgb(90, 52, 90);
    --fonte-titulo: Franklin Gothic, Arial Bold;
    --fonte-botao: Franklin Gothic, Arial Bold;
}

div {
    text-align: center;

}

table {
    height: 90px;
    color: aliceblue;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    width: 700px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-color: black;
    box-shadow: 5px 2px 2px black;

}

.apagar {
    width: 100px;
    color: aliceblue;
    background-color: purple;
    border-radius: 20px;
    Font-family: var(--fonte-botao);
    cursor: pointer;
}

h1 {
    Font-family: Franklin Gothic, Arial Bold;
    color: var(--cor-primaria);
    font-size: 50px;
}

#imputquantidade {
    border-radius: 20px;
    width: 470px;
    font-size: 25px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.822);
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
}

#botaoenviar {
    width: 320px;
    background-color: var(--cor-primaria);
    color: aliceblue;
    border-radius: 30px;
    font-size: 20px;
    Font-family: Franklin Gothic, Arial Bold;
    text-align: center;
    cursor: pointer;
}

#bot {
    margin-top: 25px;
}

.campos-input{
    Font-family: Franklin Gothic, Arial Bold;
    color: var(--cor-primaria);
}

.valores-input {
    border-radius: 20px;
    width: 470px;
    font-size: 25px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.822);
    font-family: Verdana, Geneva, Tahoma, sans-serif, bol;
}

.informacao-rodape {
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
    color: var(--cor-primaria);
    font-size: 18px;
}